.main-search-container {
  min-height: 400px;
  width: 50vw;
  // border: 1px solid black;
  margin-left: 10vw;
  display: inline-flex;
  flex-direction: column;
}

.input {
  margin: 0 auto 30px;
  height: 30px;
  width: 35vw;
  input {
    height: 30px;
    width: 35vw;
    display: block;
  }
}

.page-button {
  text-align: center;
  margin: 5px 0 25px;
  cursor: pointer;
}

.favoritesItem {
  height: 15px;
  width: 15px;
  border: 1px solid black;
  border-radius: 5px;
  float: right;
  display: inline;
  margin-right: 10px;
}

.main-img {
    width: 75px;
    height: 100px;
}

.zero-search {
  text-align: center;
}

.is-favorite {
  background-color: red;
  height: 15px;
  width: 15px;
  border: 1px solid black;
  border-radius: 5px;
  float: right;
  display: inline;
  margin-right: 10px;
}

.card {
  margin-top: 15px;
}
