.main-search-container {
  height: 72vh;
  width: 50vw;
  overflow: auto;

  // outline: 1px solid blue;
}

.main-container {
  // outline: 1px solid red;
  width: 50vw;
  margin: 0 10vw 0 10vw;
  padding-top: 2vh;
  // float: right:
  // display: inline-flex;
}

.input {
  margin: 0 auto 30px;
  height: 30px;
  width: 35vw;
  input {
    height: 30px;
    width: 35vw;
    display: block;
  }
}

.page-button {
  text-align: center;
  margin: 5px 0 5vh;
  cursor: pointer;
}

.favoritesItem {
  height: 3vh;
  width: 3vw;
  float: right;
  display: inline;
  margin-right: 10px;
  background-image: url('/emptystar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  // zoom: 70%;
}


.card-block.searchLis {
    padding: 7px;
    background-color: rgba(255, 255, 255, .9);
}

.main-img {
    width: 75px;
    height: 100px;
}

.zero-search {
  text-align: center;
  color: white;
}

.is-favorite {
  height: 3vh;
  width: 3vw;
  float: right;
  display: inline;
  margin-right: 10px;
  background-image: url('/favorite.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  margin-top: 15px;
}
