// Link .navbar-brand  {
//
//
//   .collapse.navbar-collapse.justify-content-end {
//       display: inline;
//   }
// }

.navbar {
  border-radius: 0;

  .nav-link.logout {
    cursor: pointer;

    .float-right {
      float: right;
    }
  }

  .welcome {
    color: white;
    float: left;
    margin-right: 3vw;
    text-align: center;
    // border: 1px solid red;
  }
}
