/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.home {
  background-image: url('/hometv.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  color: white;
}
/*.backdrop {
  background-color: yellow;
}*/

/*.tint {
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top:50px;
  right:0;
  left:0;
  bottom:0;
  height: 100vh;
}*/

.login {
  background-image: url('/red-carpet.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
  /*color: white;*/
}

.signup {
  background-image: url('/side-boxoffice.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
  /*color: white;*/
}

.login h1 {
  color: white;
}

.name {
  color: white;
  /*border: 2px red solid;*/
  display: inline;
}

.userdisplay {
  background-color: white;
}

/*.modal {
  position: fixed;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  border: 1px solid black;
  background: lightgrey;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  display: block;
}*/


/*.details-background {
  background-color: rgba(0, 0, 0, .4);
  min-height: 100vh;
  width: 100vw;
  opacity: .
}*/

.details-window {
  height: 500px;
  width: 500px;

  /*background-color: white;*/
  /*z-index: 3*/
}

.poster-image {
  width: 200px;
  height: 250px;
}
