.main-search-container {
  min-height: 400px;
  width: 50vw;
  /*border: 1px solid black;*/
  margin-left: 5vw;
  display: inline-flex;
  flex-direction: column;
}

input {
  height: 30px;
  width: 35vw;
  margin: 0 auto;
  display: block;
}

.button-container {
  margin: 0 auto 65px auto;
  /*background-color: yellow;*/
  /*border: 1px solid black;*/
}

.page-button {
  /*height: 25px;
  width: 65px;
  background-color: black;
  color: white;*/
  display: inline-block;
  text-align: center;
  margin: 3px 0 20px;
  cursor: pointer;
}

.searchOL {
  /*border: 1px solid black;*/
}

.favoritesItem {
  height: 15px;
  width: 15px;
  border: 1px solid black;
  border-radius: 5px;
  float: right;
  display: inline;
  margin-right: 10px;
  /*margin-top: 10px;*/
}

/*li {
  border: 1px solid black;
  margin-top: 5px;
}*/

li img {
  width: 75px;
  height: 100px;
}

.zero-search {
  text-align: center;
}
