nav {
  height: 50px;
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
}

nav ul {
  display: inline;
}

nav li {
  float: right;
  width: 90px;
  text-align: left;
  display: inline-block;
}
